/* NavBar */
.navbar{
    background-color: beige;
    max-height: 60px;
}
.navbar i{
    margin-right: 10px;
}
/* Intro Text */
.intro-text{
    margin: 70px 0px;
}
/* Product Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .text{
    background-color: beige;
}
  .gallery-item {
    width: 30%;
    text-align: center;
    border: 0.5px solid gray;
    margin: 15px;
  }
  
  .gallery-item img {
    width: 100%;
  }
  
  /* Banner */
  .banner {
    width: 50vw;
    margin-left: 20%;
    background: linear-gradient(to bottom, #eacda3, #d6ae7b);
    margin-bottom: 20px;
  }

  .banner img{
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 40%;
  }

  .banner h2, .banner h4, .banner p{
    margin-left: 15%;
    color: white;
  }
  .banner button{
    margin-left: 35%;
    width: 30%
  }
  /* Footer */
  footer{
    background-color: beige;
    display: flex;
    width: 99vw;
    justify-content: space-between;
  }
  footer p{
    margin: 0 20px;
  }

  footer li a{
    text-decoration: none;
  }

  footer ul{
    list-style: none;
  }
  @media only screen and (max-width: 992px) {
    .gallery-item{
    width: 45%;
    }
  }

  @media only screen and (max-width: 600px) {
    .gallery-item{
    width: 80%;
    }
  }